#main {
  background-color: rgb(6, 6, 6);
  color: white;
}

#main.hamburger{
  border-radius: 8px;
}

p {
  color: red;
  border:1px solid (6, 6, 6);
}

div {
  background-color: rgb(30, 30, 30);
}

.intro{
  color:yellow;
}

#other.hamburger {
  border-radius: 8px;
}

#well.hamburger {
  border-radius: 8px;
  background-color: (0, 0, 0);
}
